@{
    ViewBag.Title = "Home Page";
}
@using React.Web.Mvc

@Html.React("Components.App.HelloWorld", new
{
blog = ViewBag.Blog
})
<hr />

<div class="row">
    @Html.React("Components.App.UserDetails", new
{
    blog = ViewBag.Blog
})
</div>

<!-- Load all required scripts (React + the site's scripts) -->
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
<script src="@Url.Content("~/build/client.bundle.js")"></script>
<!-- Render the code to initialise the component -->
@Html.ReactInitJavaScript()